<%- include('../partials/head.ejs') %>
<script src="/assets/javascript/albums.js"></script>
<title>Albums</title>
<%- include('../partials/after-head.ejs') %>
<%- include('../partials/header.ejs') %>
<main>
    <section class="albums">
        <h2 class="albums__heading">All Albums</h2>
        <article class="albums-featured">
            <div class="albums-featured__container">
                <h3 class="albums-featured__heading">Featured Albums</h3>
                <a href="" class="albums-featured__view">View All</a>
            </div>

            <ul class="featured-album-list"></ul>
        </article>

        <article class="releases">
            <div class="releases__container">
                <h3 class="releases__heading">New Releases</h3>
                <a href="" class="releases__view">View All</a>
            </div>

            <ul class="releases-list"></ul>
        </article>
    </section>
</main>

<template id="newRelease">
    <li class="releases-list__item">
        <figure class="releases-list__img-container">
            <div class="loader simple-circle"></div>
            <img src="" alt="release img" class="releases-list__img">
        </figure>

        <div class="releases-list__container">
            <h3 class="releases-list__heading">Placeholder title</h3>
            <p class="releases-list__artist">Sony kaleb</p>
        </div>

        <p class="releases-list__songs-amount">12 Songs</p>
    </li>
</template>

<template id="featuredAlbums">
    <li class="featured-album-list__item">
        <div class="loader simple-circle"></div>
        <img src="" alt="Album" class="featured-album-list__img">
    </li>
</template>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>