<%- include('../partials/head.ejs') %>
<script src="/assets/javascript/album-details.js" defer></script>
<title>Album Details</title>
<%- include('../partials/after-head.ejs') %>
<%- include('../partials/header.ejs') %>
<main>
    <section class="album-details">
        <h2 class="album-details__heading">Placeholder</h2>
        <h4 class="album-details__songs-amount">12 Songs</h4>
        <p class="album-details__genre"></p>
        <ul class="genre-list"></ul>
    </section>
    <section class="song-section">
        <h3 class="song-section__heading">All Songs</h3>
        <ul class="song-list"></ul>
    </section>
</main>

<template id="track">
    <li class="song-list__item">
        <a href="" class="song-list__img-container">
            <img src="/assets/images/play.svg" alt="play icon" class="song-list__img">
        </a>

        <div class="song-list__container">
            <h3 class="song-list__heading">Placeholder title</h3>
            <p class="song-list__artist">Sony kaleb</p>
        </div>

        <p class="song-list__length">2:32</p>
    </li>
</template>

<template id="genre">
    <li class="genre-list__item"></li>
</template>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>