<%- include('../partials/head.ejs') %>
<title>Albums</title>
<%- include('../partials/after-head.ejs') %>
<%- include('../partials/header.ejs') %>
<main>
    <section class="albums">
        <h2 class="albums__heading">All Albums</h2>
        <article class="albums-featured">
            <div class="albums-featured__container">
                <h3 class="albums-featured__heading">Featured Albums</h3>
                <a href="" class="albums-featured__view">View All</a>
            </div>

            <ul class="featured-album-list">
                <li class="featured-album-list__item">
                    <img src="https://via.placeholder.com/398x267" alt="Album" class="featured-album-list__img">
                </li>

                <li class="featured-album-list__item">
                    <img src="https://via.placeholder.com/398x327" alt="Album" class="featured-album-list__img">
                </li>

                
                <li class="featured-album-list__item">
                    <img src="https://via.placeholder.com/398x327" alt="Album" class="featured-album-list__img">
                </li>

                
                <li class="featured-album-list__item">
                    <img src="https://via.placeholder.com/398x327" alt="Album" class="featured-album-list__img">
                </li>
            </ul>
        </article>

        <article class="releases">
            <div class="releases__container">
                <h3 class="releases__heading">New Releases</h3>
                <a href="" class="releases__view">View All</a>
            </div>

            <ul class="releases-list">
                <li class="releases-list__item">
                    <figure class="releases-list__img-container">
                        <img src="https://via.placeholder.com/398x327" alt="release img" class="releases-list__img">
                    </figure>

                    <div class="release-list__container">
                        <h3 class="release-list__heading">Placeholder title</h3>
                        <p class="release-list__artist">Sony kaleb</p>
                    </div>

                    <p class="release-list__songs-amount">12 Songs</p>
                </li>

                <li class="releases-list__item">
                    <figure class="releases-list__img-container">
                        <img src="https://via.placeholder.com/398x327" alt="release img" class="releases-list__img">
                    </figure>

                    <div class="release-list__container">
                        <h3 class="release-list__heading">Placeholder title</h3>
                        <p class="release-list__artist">Sony kaleb</p>
                    </div>

                    <p class="release-list__songs-amount">12 Songs</p>
                </li>

                <li class="releases-list__item">
                    <figure class="releases-list__img-container">
                        <img src="https://via.placeholder.com/398x327" alt="release img" class="releases-list__img">
                    </figure>

                    <div class="release-list__container">
                        <h3 class="release-list__heading">Placeholder title</h3>
                        <p class="release-list__artist">Sony kaleb</p>
                    </div>

                    <p class="release-list__songs-amount">12 Songs</p>
                </li>

                <li class="releases-list__item">
                    <figure class="releases-list__img-container">
                        <img src="https://via.placeholder.com/398x327" alt="release img" class="releases-list__img">
                    </figure>

                    <div class="release-list__container">
                        <h3 class="release-list__heading">Placeholder title</h3>
                        <p class="release-list__artist">Sony kaleb</p>
                    </div>

                    <p class="release-list__songs-amount">12 Songs</p>
                </li>
            </ul>
        </article>
    </section>
</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>