<%- include('../partials/head.ejs') %>
<script src="/assets/javascript/featured.js" defer></script>
<title>Featured</title>
<%- include('../partials/after-head.ejs') %>
<%- include('../partials/header.ejs') %>
<main>
    <section class="featured">
        <h2 class="featured__heading">Featured</h2>
        <ul class="featured-list"></ul>
    </section>
</main>

<template id="feedTemplate">
    <li class="featured-list__item">
        <a href="">
            <div class="loader simple-circle"></div>
            <img data-imgSrc="" src="" alt="Featured img" class="featured-list__img">
            <div class="featured-list__container">
                <h2 class="featured-list__heading">Placeholder test test</h2>
                <p class="featured-list__desc">Soundtrack</p>
            </div>
        </a>
    </li>
</template>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>