<%- include('../partials/head.ejs') %>
<title>Featured</title>
<%- include('../partials/after-head.ejs') %>
<%- include('../partials/header.ejs') %>
<main>
    <section class="featured">
        <h2 class="featured__heading">Featured</h2>
        <ul class="featured-list">
            <li class="featured-list__item">
                <img src="https://via.placeholder.com/325x450" alt="Featured img" class="featured-list__img">
                <div class="featured-list__container">
                    <h2 class="featured-list__heading">Placeholder</h2>
                    <p class="featured-list__desc">Soundtrack</p>
                </div>
            </li>

            <li class="featured-list__item">
                <img src="https://via.placeholder.com/325x450" alt="Featured img" class="featured-list__img">
                <div class="featured-list__container">
                    <h2 class="featured-list__heading">Placeholder test test</h2>
                    <p class="featured-list__desc">Soundtrack</p>
                </div>
            </li>
        </ul>
    </section>
</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>