<%- include('../partials/head.ejs') %>
<title>Playlist</title>
<%- include('../partials/after-head.ejs') %>
<%- include('../partials/header.ejs') %>
<main>
    <section class="playlist">
        <h2 class="playlist__heading">Playlists</h2>
        <img src="/assets/images/sound-wave.svg" alt="" class="playlist__background">

        <ul class="playlist-list">
            <li class="playlist-list__item">
                <img src="https://via.placeholder.com/398x267" alt="Playlist" class="playlist-list__img">
            </li>

            <li class="playlist-list__item playlist-list__item_center">
                <img src="https://via.placeholder.com/398x267" alt="Playlist" class="playlist-list__img">
            </li>

            <li class="playlist-list__item">
                <img src="https://via.placeholder.com/398x267" alt="Playlist" class="playlist-list__img">
            </li>
        </ul>
    </section>

    <section class="playlist-songs">
        <h3 class="playlist-songs__top-songs">Top 50</h3>
        <h3 class="playlist-songs__songs">Rock Ballads</h3>
        <ul class="playlist-songs-list">
            <li class="playlist-songs-list__item">
                <figure class="playlist-songs-list__img-container">
                    <img src="/assets/images/play.svg" alt="play icon" class="playlist-songs-list__img">
                </figure>

                <div class="playlist-songs-list__container">
                    <h3 class="playlist-songs-list__heading">Placeholder title</h3>
                    <p class="playlist-songs-list__artist">Sony kaleb</p>
                </div>

                <p class="playlist-songs-list__length">2:57</p>
            </li>

            <li class="playlist-songs-list__item">
                <figure class="playlist-songs-list__img-container">
                    <img src="/assets/images/play.svg" alt="play icon" class="playlist-songs-list__img">
                </figure>

                <div class="playlist-songs-list__container">
                    <h3 class="playlist-songs-list__heading">Placeholder title</h3>
                    <p class="playlist-songs-list__artist">Sony kaleb</p>
                </div>

                <p class="playlist-songs-list__length">2:57</p>
            </li>

            <li class="playlist-songs-list__item">
                <figure class="playlist-songs-list__img-container">
                    <img src="/assets/images/play.svg" alt="play icon" class="playlist-songs-list__img">
                </figure>

                <div class="playlist-songs-list__container">
                    <h3 class="playlist-songs-list__heading">Placeholder title</h3>
                    <p class="playlist-songs-list__artist">Sony kaleb</p>
                </div>

                <p class="playlist-songs-list__length">2:57</p>
            </li>
            <li class="playlist-songs-list__item">
                <figure class="playlist-songs-list__img-container">
                    <img src="/assets/images/play.svg" alt="play icon" class="playlist-songs-list__img">
                </figure>

                <div class="playlist-songs-list__container">
                    <h3 class="playlist-songs-list__heading">Placeholder title</h3>
                    <p class="playlist-songs-list__artist">Sony kaleb</p>
                </div>

                <p class="playlist-songs-list__length">2:57</p>
            </li>
            <li class="playlist-songs-list__item">
                <figure class="playlist-songs-list__img-container">
                    <img src="/assets/images/play.svg" alt="play icon" class="playlist-songs-list__img">
                </figure>

                <div class="playlist-songs-list__container">
                    <h3 class="playlist-songs-list__heading">Placeholder title</h3>
                    <p class="playlist-songs-list__artist">Sony kaleb</p>
                </div>

                <p class="playlist-songs-list__length">2:57</p>
            </li>
            <li class="playlist-songs-list__item">
                <figure class="playlist-songs-list__img-container">
                    <img src="/assets/images/play.svg" alt="play icon" class="playlist-songs-list__img">
                </figure>

                <div class="playlist-songs-list__container">
                    <h3 class="playlist-songs-list__heading">Placeholder title</h3>
                    <p class="playlist-songs-list__artist">Sony kaleb</p>
                </div>

                <p class="playlist-songs-list__length">2:57</p>
            </li>
        </ul>
        <button class="listen-btn">LISTEN ALL</button>
    </section>
</main>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/after-body.ejs') %>